<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <p>New here? Click
        <a th:href="@{/users/create}">here</a> to register.
    </p>

    <form method="POST" th:action="@{/form-login}" id="loginForm">
        <label for="email">Username: </label>
        <input type="text" name="email" id="email" /><br/>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>

        <div style="font-size: 16pt; color: red;" th:if="${param.error}">
            Unable to login. Check your username and password.
        </div>

        <input type="submit" class="btn btn-info" value="Login"/>
    </form>
</body>
</html>